{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="print-sidebar-header">
    <h1 class="name">{{ sidebar.name }}</h1>
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    <ul class="print-contact-list">
      <li>{{ sidebar.email }}</li>
      <li>{{ sidebar.phone }}</li>
      <li><a href="https://www.linkedin.com/in/{{ sidebar.linkedin }}">linkedin.com/in/{{ sidebar.linkedin }}</a></li>
      <li><a href="https://github.com/{{ sidebar.github }}">github.com/{{ sidebar.github }}</a></li>
    </ul>
  </div><!--//print-sidebar-header-->

  <div class="profile-container">

    {% if sidebar.avatar %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% if sidebar.skills %}
    {% include skills.html %}
  {% endif %}

  <div class="print-sidebar-page2">
    <div class="print-sidebar-header">
      <h1 class="name">{{ sidebar.name }}</h1>
      <h3 class="tagline">{{ sidebar.tagline }}</h3>
      <ul class="print-contact-list">
        <li>{{ sidebar.email }}</li>
        <li>{{ sidebar.phone }}</li>
        <li><a href="https://www.linkedin.com/in/{{ sidebar.linkedin }}">linkedin.com/in/{{ sidebar.linkedin }}</a></li>
        <li><a href="https://github.com/{{ sidebar.github }}">github.com/{{ sidebar.github }}</a></li>
      </ul>
    </div><!--//print-sidebar-header-->
    {% include language.html %}
    {% include interests.html %}
    {% include referee.html %}
  </div><!--//sidebar-footer-->

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
